DMS{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: coral;
    margin-left:20px;
    margin-top:15px;
}
.a {margin: -25 auto;
    margin-top: -59px;
    margin-left: -10px;
    padding: 0px;
    background:#958B6B;
    width: 90px;   
    height: 65px;  
    text-decoration:none;
     -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
   -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
     -webkit-transform: perspective(250px) rotateX(-90deg);
    -moz-transform: perspective(250px) rotateX(-90deg);
    -ms-transform: perspective(250px) rotateX(-90deg);
    -o-transform: perspective(250px) rotateX(-90deg);
    /* Changed For New View */
    transform: perspective(10px) rotateX(-90deg);
    -webkit-transition: 0.2s linear 0.2s;
    -moz-transition: 0.2s linear 0.2s;
    -ms-transition: 0.2s linear 0.2s;
    -o-transition: 0.2s linear 0.2s;
    transition: 0.2s linear 0.2s; 
}
DMS:hover .a {
 -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
          margin-top: -50px;   
          padding: 10px 0px;
          text-align: center;
          height:47px;
          text-decoration: none;                 
}
DPH{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:-96px;
    margin-left:150px;
}
DPH:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
            margin-top: -50px;  
            padding: 10px 0px;
            text-align: center;
            height:47px;
            text-decoration: none;    
}
DME{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:-59px;
    margin-left:275px;
}
DME:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
           margin-top: -50px;  
           padding: 10px 0px;
            text-align: center;
            height:47px;
            text-decoration: none;  
          
}
TNMSC{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:-59px;
    margin-left:400px;
}
TNMSC:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
             margin-top: -50px;  
             padding: 10px 0px;
            text-align: center;
            height:47px;
            text-decoration: none;  
}
TANSACS{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:-59px;
    margin-left:520px;
}
TANSACS:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
           margin-top: -50px;    
           padding: 10px 0px;
            text-align: center;
            height:47px;
            text-decoration: none; 
}
NRHM{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:15px;
    margin-left:20px;
}
NRHM:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
          margin-top: -50px;  
          padding: 15px 0px;
            text-align: center;
            height:35px;
            text-decoration: none;   
}
RNTCP{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:-59px;
    margin-left:150px;
}
RNTCP:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
           margin-top: -50px;  
           padding: 10px 0px;
            text-align: center;
            height:47px;
            text-decoration: none;   
}
MA{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:-59px;
    margin-left:275px;
}
MA:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
          margin-top: -50px; 
          padding: 10px 0px;
            text-align: center;
            height:47px;
            text-decoration: none;    
}
DFW{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:-59px;
    margin-left:400px;
}
DFW:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
          margin-top: -50px;
          padding: 10px 0px;
            text-align: center;
            height:47px;
            text-decoration: none;     
}
SBCS{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:-59px;
    margin-left:520px;
}
SBCS:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
         margin-top: -50px;  
         padding: 10px 0px;
            text-align: center;
            height:47px;
            text-decoration: none;   
}
DCA{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:15px;
    margin-left:20px;
}
DCA:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
         margin-top: -50px;
         padding: 10px 0px;
            text-align: center;
            height:47px;
            text-decoration: none;     
}
DFS{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:-59px;
    margin-left:150px;
}
DFS:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
         margin-top: -50px; 
         padding: 10px 0px;
            text-align: center;
            height:47px;
            text-decoration: none;    
}
CMCHIS{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:-59px;
    margin-left:275px;
}
CMCHIS:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
           margin-top: -50px;  
           padding: 10px 0px;
            text-align: center;
            height:47px;
            text-decoration: none;   
}
SHTD{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:-59px;
    margin-left:400px;
}
SHTD:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
          margin-top: -50px;  
          padding: 10px 0px;
            text-align: center;
            height:47px;
            text-decoration: none;   
}
NLEP{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:-59px;
    margin-left:520px;
}
NLEP:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
          margin-top: -50px;  
          padding: 10px 0px;
            text-align: center;
            height:47px;
            text-decoration: none;   
}
MRB{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:15px;
    margin-left:20px;
}
MRB:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
         margin-top: -50px; 
         padding: 10px 0px;
            text-align: center;
            height:47px;
            text-decoration: none;    
}
ESI{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:-59px;
    margin-left:150px;
}
ESI:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
          margin-top: -50px;  
          padding: 10px 0px;
            text-align: center;
            height:47px;
            text-decoration: none;   
}
COC{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:-59px;
    margin-left:275px;
}
COC:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
          margin-top: -50px;  
          padding: 10px 0px;
            text-align: center;
            height:47px;
            text-decoration: none;   
}
DIM{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:-59px;
    margin-left:400px;
}
DIM:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
           margin-top: -50px; 
           padding: 10px 0px;
            text-align: center;
            height:47px;
            text-decoration: none;    
}
TNDRMGR{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:-59px;
    margin-left:520px;
}
TNDRMGR:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
         margin-top: -50px;    
         padding: 10px 0px;
            text-align: center;
            height:47px;
            text-decoration: none; 
}
NCD{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:15;
    margin-left:20px;
}
NCD:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
         margin-top: -50px;
         padding: 10px 0px;
            text-align: center;
            height:47px;
            text-decoration: none;     
}
CS{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:-59;
    margin-left:150px;
}
CS:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
        margin-top: -50px; 
        padding: 10px 0px;
            text-align: center;
            height:47px;
            text-decoration: none;    
}
HS{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:-59px;
    margin-left:275px;
}
HS:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
          margin-top: -50px;   
          padding: 10px 0px;
            text-align: center;
            height:47px;
            text-decoration: none;  
}
PS{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:-59px;
    margin-left:400px;
}
PS:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
         margin-top: -50px;   
         padding: 10px 0px;
            text-align: center;
            height:47px;
            text-decoration: none;  
}
SDGS{  
    font-family: Tahoma;
    background: #1d91c0;
    height: 40px;
    width: 70px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top:-59px;
    margin-left:520px;
}
SDGS:hover .a {

      -webkit-transform: perspective(350px) rotateX(0deg);
     -moz-transform: perspective(350px) rotateX(0deg);
      -ms-transform: perspective(350px) rotateX(0deg);
       -o-transform: perspective(350px) rotateX(0deg);
          transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
     -moz-transition: 0.2s linear 0s;
      -ms-transition: 0.2s linear 0s;
       -o-transition: 0.2s linear 0s;
          transition: 0.2s linear 0s;
          margin-top: -50px;  
          padding: 10px 0px;
            text-align: center;
            height:47px;
            text-decoration: none;   
}